<%-include('../includes/user/header.ejs') %>

</head>
<body>
  <%-include('../includes/user/navbar.ejs') %>
 
<form action="/forgot-password" method="post">
  <h1 class="my-4">Forgot password</h1>
<%= JSON.stringify(PassError)%>
    <div class="mb-3 mt-3">
      <label for="uname" class="form-label">E-mail:</label>
      <input type="email" class="form-control" id="uname" placeholder="Email" name="Email" >
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
      <% for (let errors of PassError){
        if(errors.param==="Email"){ %>
          <div style="color:red"><%= errors.msg %></div>
      <%  }
      } %>  
      <div style="color: red;"><%=foundError.msg %></div> 
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

   

  </form>

  <%-include('../includes/user/footer.ejs') %>
</body>