<%-include('../includes/user/header.ejs') %>

</head>
<body>
  <%-include('../includes/user/navbar.ejs') %>
 
<form action="/sign-up" method="post">
  <h1 class="my-4">Register:: O-Mart</h1>
  
<!-- <p> <%=JSON.stringify(errorMessage) %></p> -->
    <div class="mb-3 mt-3">
      <label for="uname" class="form-label">Email:</label>
      <input type="email" class="form-control" id="uname" placeholder="Enter email" name="Email" >
      <div role="alert"><% if (errorMessage.length!=0){
        for(let error of errorMessage){
          if(error.param=="Email"){ %>
             <div class="text-danger"><%= error.msg %></div>
        <%  }
          
           
          }
      } %>
      </div>
      <!-- <div class="invalid-feedback">Please fill out this field.</div> -->
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" value="<%= oldInput.length >0 && oldInput[0].Password? oldInput[0].Password : ''%>" name="Password" >
      <div role="alert"><% if (errorMessage.length!=0){
        for(let error of errorMessage){
          if(error.param=="Password"){ %>
             <div class="text-danger"><%= error.msg %></div>
        <%  }
          
           
          }
      } %>
      </div>
      <!-- <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div> -->
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Confirm Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Confirm Password" name="ConfirmPassword" >
      <div role="alert"><% if (errorMessage.length!=0){
        for(let error of errorMessage){
          if(error.param=="ConfirmPassword"){ %>
             <div class="text-danger"><%= error.msg %></div>
        <%  }
          
           
          }
      } %>
      </div>
      <!-- <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div> -->
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" id="myCheck" name="remember" >
      <label class="form-check-label" for="myCheck">I agree to the terms and conditions.</label>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Check this checkbox to continue.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <%-include('../includes/user/footer.ejs') %>
</body>