<%- include ('../includes/admin/adminHeader.ejs') %>
</head>
<body class="hold-transition register-page">

  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>
  
 <div class="row w-100">
 
  <div class="col-3">
    <aside class="main-sidebar sidebar-dark-primary elevation-4 w-75">
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link">
        <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin</span>
      </a>
  
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">Kabir</a>
          </div>
        </div>
  
  
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item menu-open">
              <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Users
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/admin-dashboard" class="nav-link">
                    <i class="far fa-circle nav-icon active"></i>
                    <p> Dashboard</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin-add-user" class="nav-link ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add User</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin-manage-user" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Manage Users</p>
                  </a>
                </li>
              </ul>
            </li>
           
          </ul>
  
          <!-- Products sidebar-->
          <ul class="nav nav-pills nav-sidebar flex-column"  role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item menu-open">
              <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                 Products
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/admin-add-product" class="nav-link ">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Add Product</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin-manage-product" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Manage Products</p>
                  </a>
                </li>
              </ul>
            </li>             
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
  </div>
  <div class="col-8">
    <div class="register-box w-75">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="/admin-dashboard" class="h1"><b>Admin</b>Dashboard</a>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"> Registered Product List</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped" style="width:100% ;">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Brand</th>
                  <th>Description</th>
                  <th>Image</th>
                  <th>Discount</th>
                  <th>Category</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                  <%  if(Products.length>0){
                        for(let Items of Products){  %>
                            <tr>
                                <td><%= Items.id %></td>
                                <td><%= Items.item %></td>
                                <td><%= Items.price %></td>
                                <td><%= Items.brand %></td>
                                <td><%= Items.description%></td>
                                <td><img src="<%= Items.image %>" alt="image"></td>
                                <td><%= Items.discount %></td>
                                <td><%= Items.category %></td>
                                <td>
                                    <div>
                                       <a href="/admin-update/id"> Update</a>
                                     </div>

                                     <div>
                                        <form action="/admin-delete" method="post">
                                            <button type="submit">Delete</button>
                                        </form>
                                     </div>
                            </td>
                              </tr>
                <%     }
                    }  %>
                
               
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
      </div>
    </div>
  </div>
 </div>
</div>
<%- include ('../includes/admin/adminFooter.ejs') %>
</body>